@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: normal;
	src:
		local(""),
		url("../misc/ubuntu_normal.woff2") format("woff2");
}

@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: bold;
	src:
		local(""),
		url("../misc/ubuntu_thicc.woff2") format("woff2");
}

html {
	padding: .5em;
}

body {
	font-family: "Ubuntu", sans-serif;
	margin: 1em auto;
	max-width: 40em;
	line-height: 1.8;
	text-align: justify;
}